# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
#
#  added by syahid
node_modules
typed-example/319guestbook/node_modules
typed-example/420staticsfs/node_modules
typed-example/57routingwithrouter/node_modules
typed-example/56simpleroutingproject/node_modules
typed-example/62api-example1/node_modules
typed-example/65apiversioning/node_modules
typed-example/851-lamproject/node_modules